.picker {
  grid-area: picker;
  height: 100%;
  width: 100%;

  padding: 0.5rem;
  box-shadow: 0 0 1rem -0.5rem currentColor;
}

.profile,
.view {
  padding: 0.5rem;
  display: flex;
  margin-bottom: 0.25rem;
  box-shadow: 0 0 1rem -0.5rem currentColor;
}

.profile button,
.view button {
  width: 5rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}

.active {
  color: black;
  box-shadow: inset 0.5rem 0.5rem 1rem -0.5rem black !important;
  border: thin solid black !important;
}
