$height: 10rem;
$width: 320px;
$ele_height: 3.5rem;

.login {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  * {
    transition: 0.3s ease;
  }
}

.logo {
  margin-bottom: 5rem;
}

.login form {
  height: $height;
  width: $width;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.login form input {
  height: $ele_height;
  padding: 0.5rem 1rem;

  border-left: transparent;
  border-top: transparent;
  border-right: transparent;

  text-align: center;
}

.login button {
  height: $ele_height;
  font-size: 1rem;
  text-transform: uppercase;
}

.go_to_generic_view {
  height: $height;
  width: $width;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .login form {
    width: 90%;
  }
}
