.wrapper {
  display: flex;

  margin: 0 4rem;
}

.dot {
  height: 1rem;
  width: 1rem;

  margin: 0 0.65rem;

  border: thin solid;
  border-radius: 50%;

  //init
  box-shadow: 0 0 0 0 currentColor;
  transform: scale(1);

  transition: 0.3s ease;
}
.dot:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem -0.2rem currentColor;
  transform: scale(1.1);
}
