@use 'sass:math';

.mainContain {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.styled {
  min-width: 14rem;
  padding: 1rem;

  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.15) 100%
  );
}

.styled {
  header {
    > div {
      margin-bottom: 0.5rem;
      > P {
        margin: 0 0.15rem;
      }
    }
  }
}

.column {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    width: 100%;
  }
}

.arrow {
  position: relative;
  margin: 1rem 0;
  height: 4rem;

  $size: 0.5rem;

  .arrowBody {
    position: absolute;
    right: 0;
    top: 5%;
    height: 90%;
    width: 1px;
    background: currentColor;
  }
  .topArrow {
    position: absolute;
    top: 0;
    left: calc(100% - math.div($size, 2));
    height: $size;
    width: $size;
    transform: rotate(45deg);
    border-left: thin solid currentColor;
    border-top: thin solid currentColor;
  }
  .downArrow {
    position: absolute;
    bottom: 0;
    left: calc(100% - math.div($size, 2));
    height: $size;
    width: $size;
    transform: rotate(225deg);
    border-left: thin solid currentColor;
    border-top: thin solid currentColor;
  }
}

.parent {
  opacity: 0;
  height: 1px;
  transition: 0.2s ease;
}
.parent_open {
  opacity: 1;
  height: min-content;
}

.category {
  max-width: 18rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: thin dashed teal;
}
