.wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  border: thin solid lightgray;
  box-shadow: 0 0 3rem -2rem black;

  padding: 0.5rem;
}

.frame {
  height: 100%;
  width: 100%;

  border: thin solid;

  display: grid;
  grid-template:
    'view aside' 1fr
    'footer aside' 4rem / 1fr 12rem;

  > * {
    height: 100%;
    width: 100%;
  }
  .view {
    grid-area: view;
  }
  .footer {
    grid-area: footer;
  }
  .aside {
    grid-area: aside;
  }
}

.view {
  position: relative;
  overflow: hidden;
  > div {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  img {
    object-fit: cover;
  }
}

.footer {
  border-top: thin solid;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}

.aside {
  border-left: thin solid;

  display: grid;
  grid-template:
    'header' 1fr
    'logo' 6rem
    'pInfo' 5rem
    'footer' 9rem / 1fr;

  header {
    grid-area: header;
  }
  .logo {
    grid-area: logo;
    border-bottom: thin solid;
  }
  .projectInfo {
    grid-area: pInfo;
  }
  footer {
    grid-area: footer;
  }
}

// ** ASIDE
.aside header {
  padding: 3%;
  border-bottom: thin solid;
}

.aside .logo {
  border-bottom: thin solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside .projectInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;

    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.aside footer {
  border-top: thin solid;
  display: grid;
  grid-template:
    'proAnsv proAnsv proAnsv proAnsv proAnsv proAnsv' 1fr
    'ansvArk ansvArk ritadAv ritadAv hand hand' 1fr
    'scale scale scale date date date' 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;

  > :nth-child(1) {
    border-bottom: thin solid;
  }
  > :nth-child(3) {
    border-left: thin solid;
  }
  > :nth-child(4) {
    border-left: thin solid;
  }
  > :nth-child(5) {
    border-top: thin solid;
  }
  > :nth-child(6) {
    border-top: thin solid;
    border-left: thin solid;
  }
}

.box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  h6 {
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;

    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  h5 {
    padding-top: 0.25rem;
  }
}
