#one,
#two,
#three,
#four,
#five {
  height: 100%;
  width: 100%;
  max-height: 800px;
  max-width: 1200px;
  opacity: 0;

  border: thin dashed lightgray;

  transition: 0.5s ease;
}

.loaded {
  opacity: 1 !important;
  grid-gap: 3rem !important;
}

//#region ** #1
#one {
  display: grid;
  grid-template:
    'profile choices' 1fr
    'profile choices' 1fr
    'timeline timeline' 1fr / 1fr 1fr;
}
//#endregion

//#region ** #2
#two {
  box-shadow: 0 0 4rem -2rem currentColor;
  border: thin solid lightgray;
  padding: 0.5rem;
  .layer {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  .cloudTwo {
    object-fit: contain;
    height: 60%;
    > img {
      position: absolute;
      left: 30%;
      bottom: -60%;
      object-fit: contain;
    }
  }
  .cloud {
    object-fit: contain;
    height: 60%;
    > img {
      position: absolute;
      top: -55%;
      object-fit: contain;
    }
  }
}
//#endregion

//#region ** #3
#three {
  display: grid;
  grid-template:
    'intro intro intro input input' auto
    'diagram diagram activeView activeView activeView' 1fr
    'links links links links links' auto / 1fr 1fr 1fr 1fr 1fr;

  .domain_input {
    grid-area: input;
  }
  .intro {
    grid-area: intro;
  }
  .view {
    grid-area: view;
  }
  .active_view {
    grid-area: activeView;
  }
  .diagram {
    grid-area: diagram;
  }
}
.domain_input > input {
  outline: none;
  border: thin solid transparent;
  border-bottom: thin solid currentColor;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: currentColor;
  background: transparent;
}
.active_view {
  border-radius: 1rem;
  padding: 1rem;
}
.diagram {
  display: grid;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  > div {
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
.rows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
.arrows {
  width: 5rem;
  border: thin solid;
}
.diagram_title {
  display: flex;
  align-items: flex-end;
  h6 {
    opacity: 0.7;
  }
}
//#endregion

//#region ** #4
#four {
  height: min-content;
  display: grid;
  grid-template:
    'a b' 1fr
    'c d' 1fr / 1fr 1fr;
  gap: 2rem;

  > div {
    padding: 1rem;
    h2 {
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
  }
}
//#endregion

//#region ** #5
#five {
  display: grid;
  grid-template: 'greeting checkbox form' 1fr/ 1fr 1fr 1fr;
  grid-gap: 2rem;

  align-items: center;
  justify-content: center;

  > div {
    height: 100%;
    width: 100%;
    padding: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
  }
}
.greeting {
  h4 {
    width: 100%;
    text-align: left;
    margin-bottom: 0.75rem;
  }
  p {
    width: 100%;
  }
}
.contactForm {
  grid-area: form;
  width: 100%;
  max-width: 420px;

  display: flex;
  flex-direction: column;

  > div,
  textarea {
    margin-bottom: 1rem;
  }
  .validButton {
    pointer-events: all;
    opacity: 1;
  }
  .invalidButton {
    pointer-events: none;
    opacity: 0.7;
  }
}
.checkboxes {
  grid-area: checkbox;
  height: 100%;
  width: 100%;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h5 {
    margin-bottom: 1.5rem;
  }

  > div {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    border: thin solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
      display: flex;
      justify-content: space-between;
    }
  }
}
//#endregion
